/* 1 */
body {
    background-color: #ffffff;
    background-image: url(../imgs/pink-flowers.webp) ;
    font-family: 'Roboto', Arial, sans-serif;
}

/* 10 */
.wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    color: #1D1B1B;
    font-weight: 400;
    margin-bottom: 26px;
}


/* 10 */
.nav {
    width: 100vw;
    background: rgb(230, 230, 230);
    /* height: 30px; */
    position: fixed;
    margin-left: -10%;
    margin-top: -35px;
    z-index: 999;
}

/* 11 */
.nav ul {
    cursor: pointer;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

/* 12 */
.nav ul li {
    margin: 0.5rem 1rem;
}

/* 11 */
.nav a {
    text-decoration: none;
    color: black;
}

/* 10 */
.nav__wrap--mod {
    display: block;
    transition: .3s;
}

/* 20 */
.nav__wrap--mod:hover {
    transform: scale(1.1);
}

/* 10 */
.header {
    margin-top: 35px;
}

/* 10 */
.header--spec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 20vh;
    /* left: px;     */
}

/* 10 */
.header__heading--spec {
    background-color: #db5c4c;
    border-radius: 10px;
    padding: 20px;
    display: block;
    float: left;
    margin-left: 10%;
    margin-top: 3%;
    /* border: 1px solid black; */
    box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.4);
}

/* 10 */
.car_body,
/* 10 */
.car__condition,
/* 10 */
.car__comfort,
/* 10 */
.header__authorization,
/* 10 */
.header__registration{
    margin-top: 10px ;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    font-size: 2vmin;
    font-family: Arial, Helvetica, sans-serif;
}

/* 10 */
.checkbox {
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin-left: 10px;
}

/* 11 */
.checkbox input {
    display: none;
}

/* 13 */
.checkbox input+span::before {
    content: ' ';
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 5px;
    color: #fff;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, .1);
}

/* 23 */
.checkbox input:checked+span::before {
    content: ' ';
    background-color: #219be7;
}


/* 10 */
.car__select,
/* 10 */
.car__fuel,
/* 10 */
.car__input,
/* 10 */
.car__gearbox,
/* 10 */
.authorization__input,
/* 10 */
.registration__input {
    display: inline-block;
    min-width: 15ch;
    /* max-width: 30ch; */
    margin: 1% 0;
    border: 1px solid #bababa;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

/* 10 */
.car__input {
    width: 3vw;
}

/* 10 */
.car__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 3px;
    /* float: left; */
    /* border: 1px solid black; */
    border-radius: 15px;
    background-color: #fff;
}

/* 11 */
.car__search a{
    color: #000000;
    text-decoration: none;
}

/* 10 */
.car__search--spec {
    background-color: #219be7;
    
    /* color: #fff; */
}

/* 10 */
.car__submit, 
/* 10 */
.auth,
/* 10 */
.registration {
    color: #fff;
}

/* 10 */
.header__img {
    width: 27%;
    margin: 0px 15px 20px 100px
}

.header__img--spec {
    width: 25%;
    margin: 60px 15px 20px 50px
}

.main {
    display: flex;
    background-color: rgb(230, 230, 230);
    justify-content: space-around;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 15px;
}

.main--mod {
    margin-top: 65px;
}

.img__wrap {
    width: 25vw;
    border-radius: 20px;
    margin-top: 15px;
}

.car__heading {
    font-weight: 700;
    margin-top: 10px;
}

.search__label {
    color: #000000;
    text-align: center;
    font-weight: 600;
}



/* .main__wrapper--left {
    padding: 1% 0 3% 1%;
} */